.app-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 201px; /* Adjust width as needed */
    background: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 20px 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .sidebar a:hover {
    background: #444;
    border-radius: 5px;
  }
  
  .content {
    margin-left: 250px; /* Same width as the sidebar */
    padding: 20px;
    flex-grow: 1;
    align-content: center;
  }
  
  