.statistics {
  display: flex
  ;
      justify-content: space-around;
      margin: 20px 0;
      padding: 47px;
      background: #ecf0f1;
      border-radius: 10px;
      flex-direction: column;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .stat-box {
    padding: 15px;
    background: #f4b400;
    color: white;
    border-radius: 8px;
    text-align: center;
    width: 30%;
  }
  
  .stat-box h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .stat-box p {
    font-size: 20px;
    font-weight: bold;
  }
  button{
    background-color: #636363;
    color: white;
    margin: 5px;
  }

  .State{
    padding: 10px;
  }

  input{
    height: 200px;
  }
  